* {
  margin: 0;
  padding: 0;
}

body {
  background: #f6f6f6;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
}

a, a:hover, a:focus {
  color: #ffffff;
  text-decoration: none;
}

.header {
  height: 50px;
  margin: 0 auto;
  /* border-bottom: 1px solid #e1e1e1; */
  display: flex;
  justify-content: space-between;
  /* flex-direction: row-reverse; */
}

.logo,
.menu {
  line-height: 48px;
  padding: 0 20px;
}

.align-center {
  text-align: center;
}

.app {
  width: 320px;
  height: 80vh;
  margin: 10vh auto;
  background-color: #00BCD4;
}

.card {
  border-radius: 3px;
  z-index: 500;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .3);
}

@media (max-width: 320px) {
  .app {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
}

.timer {
  font-size: 3em;
  padding: 30px 20px;
  height: 50vh;
}

button {
  cursor: pointer;
}

.actions .btn {
  margin: 5px;
}

.butn {
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  padding: 4px 12px;
  color: #888;
  font-size: 18px;
  font-weight: 600;
  background: #ffffff;
  margin: 5px;
}

.butn-round:focus {
  border: 0;
  outline: none;
}

.btn-primary {
  background: #673ab7;
  color: #f1f1f1;
}

.butn-secondary {
  background: #FF5E99;
  color: #ffffff;
}

.butn-red {
  background: #FF3333;
  color: #ffffff;
  text-align: center;
}

.butn-start {
  background: #9FDE23;
  color: #f1f1f1;
  text-align: center;
}

.butn-round {
  width: 70px;
  height: 70px;
  border: 0;
  padding: 0;
  font-weight: 600;
  border-radius: 35px;
  color: #ffffff;
}

.butn-round:hover {
  color: #ffffff;
}

.butn-animate {
  animation: heart-beat-green infinite 1s linear;
}

.app-btn {
  background: #00BCD4;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-size: 1em;
  height: 40px;
  letter-spacing: .5px;
  padding: 0 24px;
  text-transform: uppercase;
  white-space: nowrap;
  box-shadow: none;
  text-shadow: none;
  font-weight: 600;
  border: 2px solid;
  border-radius: 20px;
  min-width: 100px;
  line-height: 36px;
}

.app-btn:hover, .app-btn:focus, .app-btn:active, .app-btn:visited {
  outline: none;
  background: #00BCD4;
  color: #fff;
}

.app-btn:hover, .app-btn:focus {
  box-shadow: 0 6px 12px rgba(0, 0, 0, .15);
}

.form-controls {
  padding: 4px 2px;
}

.form-controls label {
  /* padding-right: 20px; */
}

.form-controls input[type="number"] {
  width: 100px;
  margin-left: 10px;
  padding-left: 5px;
}

@keyframes heart-beat {
  0% { 
     box-shadow: 0px 0px 0px red; 
    /* transform: scale(1.0); */
  }
  60% { 
     box-shadow: 0px 0px 10px red; 
    /* transform: scale(0.8); */
  }
  80% { 
     box-shadow: 0px 0px 0px red; 
    /* transform: scale(0.9); */
  }
  90% { 
     box-shadow: 0px 0px 6px red; 
    /* transform: scale(0.8); */
  }
}

@keyframes heart-beat-green {
  0% { 
    box-shadow: 0px 0px 0px #60890D;
    /* transform: scale(1); */
  }
  60% { 
    box-shadow: 0px 0px 10px #60890D;
    /* transform: scale(0.9); */
  }
  80% { 
    box-shadow: 0px 0px 0px #60890D;
    /* transform: scale(0.95); */
  }
  90% { 
    box-shadow: 0px 0px 6px #60890D;
    /* transform: scale(0.9); */
  }
}

.settings {
  padding: 60px 0;
}

.form-controls input[type="number"] {
  width: 100px;
  margin-left: 10px;
  padding-left: 5px;
  background: inherit;
  color: #ffffff;
  font-size: 1.2em;
  box-shadow: none;
  border-radius: 2px;
  border: 1px solid #e1e1e1;
}

.btn-actions {
  margin-top: 60px;
}

.progress{
  transition: all 500ms linear;
  stroke-linecap: round;
}

.progress-text {
  transform: rotate(90deg);
  stroke: none;
  fill: #ffffff;
}

/* .active {
  color: #283593;
}

.inactive {
  color: #8bc34a;
} */
